body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

@font-face {
  font-family: 'treasurehunt';
  src: url('./assets/fonts/treasurehunt.woff2') format('woff2'),
    url('./assets/fonts/treasurehunt.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TypoGraphica';
  src: url('./assets/fonts/TypoGraphica.woff2') format('woff2'),
    url('./assets/fonts/TypoGraphica.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
